
{% extends 'base.html' %}
{% block title %} Customer Signup {% endblock title %}
{% block content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Customer Signup</h3>
            <form action="" class="shadow p-5">
                <div class="form-group">
                    <label for="" class="form-control-lg" >Name</label>
                  <input type="text" name="name" id="" class="form-control" placeholder="Enter Name"></input>
                </div>


                <div class="form-group">
                    <label for="" class="form-control-lg">Mobile Number</label>
                  <input type="text" name="Mobile" id="" class="form-control" placeholder="Enter Mobile Number"></input>
                </div>

                <div class="form-group pt-4">
                    <input class="btn btn-sm btn-info" type="submit" value="Signup"></input>

                </div>


            </form>

        </div> 

    </div>
</div>



{% endblock %}